<section class="BandsPage">
    <div class="row">
        <div class="col-12">
            <div class="input-group mb-3">
                <input type="text" class="band-data form-control" placeholder="Band name" aria-label="Band name">
                <div class="input-group-append">
                    <button class="add-btn btn btn-outline-secondary" type="button">Add band</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            ${this.bands}
        </div>

    </div>
</section>