<section class="MusiciansPage">
    <div class="row">
        <div class="input-group mb-3">
            <input type="text" class="musician-data form-control" placeholder="Name" aria-label="Enter musician">
            <div class="input-group-append">
                <button class="add-btn btn btn-outline-secondary" type="button">Add musician</button>
            </div>
        </div>
        <div class="col-12">
            <h3>List of Musicians</h3>
            ${this.musicians}
        </div>

    </div>
</section>